# App configurations
APP_URL=http://localhost:3000

# MySQL Database configuration (Optional - falls back to local SQLite/JSON db if not set)
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
